body{
background-color: aqua;

}
h1{
  border-style: dotted;
  margin-top: auto;
}
p{
  text-align: center;
    background-color: aliceblue;
border-style: inset;
    border-radius: 30%;
  }
div{
  border: 5px outset rgb(60, 0, 255);
  background-color: lightblue;    
  text-align: center;
}
p{
text-align: center;
}
main{
  text-align: center;
}