div header{

    border: 5px outset rgb(255, 0, 191);
  background-color: lightblue;
  text-align: center;

}
div nav{
    border: 5px outset rgb(255, 0, 34);
    background-color: rgb(250, 251, 253);
    text-align: center;
}
    
div section{
    border: 5px outset rgba(0, 255, 38, 0.758);
    background-color: rgb(233, 218, 8);
    text-align: left;
}

